body {
    font-family: "IBM Plex Mono", monospace;
    padding: 0;
    box-sizing: border-box;
    margin: 90px 0 0;
    background-color: #FFFFFF;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-weight: bolder;
    color: #484D6D;
    text-decoration: #28DA60 wavy underline;
}

h3 {
    font-size: 12pt;
    color: #484D6D;
    font-weight: bold;
}

p {
    font-weight: bold;
    color: #28DA60;
}

nav {
    width: 100%;
    background-color: #F63A29;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    position: fixed;
    top: 0;
    text-align: center;
}

md-block * {
    text-decoration: none;
}

.nav {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.nav:hover {
    box-shadow: #000000 2px 2px 5px, 2px 2px 5px #000000 inset;
}

.border {
    display: flex;
    width: 50%;
    border: 2px solid #08B2E3;
    border-radius: 10px;
    padding: 10px;
    font-weight: normal;
    color: #484D6D;
}

.border p {
    font-weight: normal;
    color: #484D6D;
}

#markdown {
    border: 2px solid #28DA60;
    border-radius: 10px;
    padding: 10px;
}